services:
  relayer:
    build:
      context: .
      dockerfile: docker/Dockerfile.relayer
    container_name: relayer
    ports:
      - "3040:3040"
    volumes:
      - ./packages/relayer/relayer.toml:/app/relayer.toml
      - ./packages/relayer/account_keys:/app/account_keys
    environment:
      - RUST_LOG=info

  backend:
    build:
      context: .
      dockerfile: docker/Dockerfile.nodejs
      target: runtime-alpine
    container_name: backend
    ports:
      - "4000:4000"
    working_dir: /app/packages/onsocial-backend
    volumes:
      - ./packages/onsocial-backend/.env:/app/packages/onsocial-backend/.env
    environment:
      - NODE_ENV=development
    command: ["pnpm", "start"]
    depends_on:
      - relayer

  onsocial-app:
    build:
      context: .
      dockerfile: docker/Dockerfile.nodejs
      target: runtime-alpine
    container_name: onsocial-app
    ports:
      - "8081:8081"
    working_dir: /app/packages/onsocial-app
    volumes:
      - ./packages/onsocial-app:/app/packages/onsocial-app:cached
    environment:
      - NODE_ENV=development
      - EXPO_DEVTOOLS_LISTEN_ADDRESS=0.0.0.0
    command: ["pnpm", "start"]
    depends_on:
      - backend
      - relayer

  onsocial-js:
    build:
      context: .
      dockerfile: docker/Dockerfile.nodejs
      target: runtime-alpine
    container_name: onsocial-js
    working_dir: /app/packages/onsocial-js
    volumes:
      - ./packages/onsocial-js:/app/packages/onsocial-js:cached
    environment:
      - NODE_ENV=development
    command: ["pnpm", "test"]

  onsocial-auth:
    build:
      context: .
      dockerfile: docker/Dockerfile.nodejs
      target: runtime-alpine
    container_name: onsocial-auth
    working_dir: /app/packages/onsocial-auth
    volumes:
      - ./packages/onsocial-auth:/app/packages/onsocial-auth:cached
    environment:
      - NODE_ENV=development
    command: ["pnpm", "run", "test"]

  onsocial-auth-lint:
    build:
      context: .
      dockerfile: docker/Dockerfile.nodejs
      target: runtime-alpine
    container_name: onsocial-auth-lint
    working_dir: /app/packages/onsocial-auth
    command: ["pnpm", "run", "lint"]
    environment:
      - NODE_ENV=development

  onsocial-app-lint:
    build:
      context: .
      dockerfile: docker/Dockerfile.nodejs
      target: runtime-alpine
    container_name: onsocial-app-lint
    working_dir: /app/packages/onsocial-app
    command: ["pnpm", "run", "lint"]
    environment:
      - NODE_ENV=development

  onsocial-backend-lint:
    build:
      context: .
      dockerfile: docker/Dockerfile.nodejs
      target: runtime-alpine
    container_name: onsocial-backend-lint
    working_dir: /app/packages/onsocial-backend
    command: ["pnpm", "run", "lint"]
    environment:
      - NODE_ENV=development

  onsocial-js-lint:
    build:
      context: .
      dockerfile: docker/Dockerfile.nodejs
      target: runtime-alpine
    container_name: onsocial-js-lint
    working_dir: /app/packages/onsocial-js
    command: ["pnpm", "run", "lint"]
    environment:
      - NODE_ENV=development
